/* Fontes do Site */
@font-face {
    font-family: 'VW Head';
    src: url('fonts/VWHead-Bold.woff2') format('woff2'),
        url('fonts/VWHead-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'VW Head';
    src: url('fonts/VWHead.woff2') format('woff2'),
        url('fonts/VWHead.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VW Head';
    src: url('fonts/VWHead-Light.woff2') format('woff2'),
        url('fonts/VWHead-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}